body {
    margin: 0;
    overflow: hidden; /* Oculta barras de desplazamiento */
    background-color: #0d001a; /* Fondo muy oscuro, casi negro con un toque púrpura */
}

#galaxyCanvas {
    display: block;
}
